

$color-primary-main: #0b7285;
$color-primary-sub: #66d9e8;

$color-secondary-main: #B78FD6;

$color-white-space-1: #c5f6fa;

$color-black-light: rgb(0, 0, 0);

$color-teal-light-1: rgba(58, 217, 170, 08);
$color-teal-light-2: rgba(8, 125, 90, 08);


$color-white-glass: #FFFFFF;
$color-grey-light-1: #777;
$color-grey-light-2: #555;

$color-nav-hover: #087f5b;

$color-grey-dark: #333;

$color-icon: #e8590c; 
$color-new-1: #f08c00;
$color-new-2: #fab005;
