
.container {
    display: grid;
    width: 90%;
}

.main-grid {
    display: grid;
}

.grid-2-cols {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    
    @include respond (phone) {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

.grid {
    grid-template-columns: 1fr 1.3fr;
    column-gap: 2rem;

    @include respond (phone) {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

.grid-3-cols {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.grid-02 {
    grid-template-columns: 1fr;
    column-gap: 2rem;
}